#fondo{
	position: fixed; 
	top: 0; 
	left: 0; 
	min-width: 100%;
	min-height: 100%;
  background-color: #e9e6e6;
}

#menu{
	/*float: right;
	margin-top: 108px;
	margin-right: 140px;*/
  margin-top: 108px;
  width: 752px;
  margin-left: 374px;
}

#contenido{
	position: relative;
	clear: both;
	padding: 0 140px 0 140px;
  margin-bottom: 24px;
}

#imagenes{
	position: relative;
	width: 590px;
	height: 241px;
	clear: both;
}

.imagen1{
	width: 517px;
	height: 233px;
}

.imagen2{
	position: absolute;
	width: 317px;
	height: 203px;
	top: 52px;
	left: 297px;

}

#texto{
	/*position: absolute;
	top: 41px;
	right: 0;
	width: 355px;
	margin-right: 157px;*/
  position: absolute;
  top: 41px;
  width: 355px;
  margin-left: 613px;

}

#texto p{
	display: block;
	font-family: 'Swis721CnBTDTypeBold';
	text-align: left;
	font-weight: normal;
	font-size: 33px;
	line-height: 29px;
	color: #4e504c;
	text-decoration: none;
	position: relative;
	padding-top: 0px;
	text-transform: uppercase;
}

#tablas{
	margin-top: 70px;
  width: 963px;
}

#footer{
  position: relative;
  height: 100px;
  background-color: rgb(78, 78, 78);
  clear: both;
  padding: 0 140px 0 140px;
  border-radius: 0px 0px 13px 13px;

}


#bloques{
  background-color: #fff;
  border-radius: 13px 13px 0px 0px;
  min-height: 500px;
  width: 985px;
}

.bloquedebajo {
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  clear: left;
  background: #FFFFFF url(../imagenes/content_pane-gradient.gif) repeat-x scroll left bottom;
}

#shade {
  background: #EDEDEC url(../imagenes/shade.jpg) no-repeat 0 0;
  height: 50px;
  background-position: center;
}

.titulos{
  display: block;
  font-family: 'Swis721CnBTDTypeBold';
  text-align: left;
  font-weight: normal;
  font-size: 46px;
  line-height: 68px;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-top: 0px;
  padding-left: 22px;
}

.textonormal{
  display: block;
  font-family: 'Swis721CnBTDTypeBold';
  text-align: left;
  font-weight: normal;
  font-size: 19px;
  color: #ff0000;
  text-decoration: none;
  position: relative;
  padding-top: 0px;
  padding-left: 22px;
}

.textoprincipal{
  display: block;
  font-family: 'Swis721CnBTDTypeBold';
  text-align: left;
  font-weight: normal;
  font-size: 19px;
  color: rgb(223, 117, 117);
  text-decoration: none;
  position: relative;
  padding-top: 52px;
  padding-left: 176px;
  padding-right: 141px;
  line-height: 37px;
}

.textofooter{
  display: block;
  font-family: 'Swis721CnBTRoman';
  text-align: left;
  font-weight: normal;
  font-size: 19px;
  color: #ff0000;
  text-decoration: none;
  position: relative;
  padding-top: 0px;
  padding-left: 22px;
}

#mapa_ruta{
  width: 920px;
  height: 377px;
  margin: 0 auto;
  margin-top: 37px;
}

#sorigen1{
  background-color: red;
  border-radius: 10px 10px 10px 10px;
  height: 41px;
  width: 920px;
  margin: 16px auto;
}

#sorigen1 p{
  padding: 9px 17px;
  color: whitesmoke;
  font-family: 'Swis721CnBTDTypeBold';
  font-size: 15px;
}

#sdestino1{
  background-color: red;
  border-radius: 10px 10px 10px 10px;
  height: 41px;
  width: 920px;
  margin: 16px auto;
}

#sdestino1 p{
  padding: 9px 17px;
  color: whitesmoke;
  font-family: 'Swis721CnBTDTypeBold';
  font-size: 15px;
}

#skm1{
  background-color: red;
  border-radius: 36px 36px 36px 36px;
  height: 76px;
  width: 519px;
  margin: 16px auto;
}

#skm1 p{
  padding: 28px;
  color: whitesmoke;
  font-family: 'Swis721CnBTDTypeBold';
  font-size: 24px;
  text-align: center;
}

button.clean-gray {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font: bold 16px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 10px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px; }
  
button.clean-gray:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
button.clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }


/* Fuentes */
/* Generated by Font Squirrel (http://www.fontsquirrel.com)  */

@font-face {
    font-family: 'Swis721CnBTRoman';
    src: url('swz721c-webfont.eot');
    src: url('swz721c-webfont.eot?#iefix') format('embedded-opentype'),
         url('swz721c-webfont.woff') format('woff'),
         url('swz721c-webfont.ttf') format('truetype'),
         url('swz721c-webfont.svg#Swis721CnBTRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Swis721CnBTDTypeBold';
    src: url('swisscb-dtype-webfont.eot');
    src: url('swisscb-dtype-webfont.eot?#iefix') format('embedded-opentype'),
         url('swisscb-dtype-webfont.woff') format('woff'),
         url('swisscb-dtype-webfont.ttf') format('truetype'),
         url('swisscb-dtype-webfont.svg#Swis721CnBTDTypeBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
